html, body {
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    background: #c68cdd;
    margin: 0;
    padding: 0;

    /* Custom cursor */
    cursor: url('assets/image/loaf.png'), auto;
}

.teto_Sisyphus {
    height: 20px;
}

.infinity_loaf {
    background-image: url(assets/image/loaf_up.png);
    background-repeat: repeat-x;
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* Standard */
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 40px;
}
p {
    text-align: center;
    color: #666;
}

